aipp_op {
    aipp_mode: static
    input_format: RGB888_U8
    csc_switch: false
    rbuv_swap_switch: false
    ax_swap_switch: false
    single_line_mode: 0
    
    src_image_size_w: 640
    src_image_size_h: 640
    
    crop: false
    load_start_pos_h: 0
    load_start_pos_w: 0
    crop_size_w: 640
    crop_size_h: 640
    
    resize: false
    resize_output_w: 640
    resize_output_h: 640
    
    padding: false
    left_padding_size: 0
    right_padding_size: 0
    top_padding_size: 0
    bottom_padding_size: 0
    
    # 不进行归一化，保持原始[0,255]范围
    mean_chn_0: 0
    mean_chn_1: 0
    mean_chn_2: 0
    mean_chn_3: 0
    
    var_reci_chn_0: 1.0
    var_reci_chn_1: 1.0
    var_reci_chn_2: 1.0
    var_reci_chn_3: 1.0
}

